*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: oswald;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: oswald;
}

h2 {
  color: white;
  font-family: oswald;
}

h3 {
  color: white;
  font-family: oswald;
  margin: 2px;
}

h4 {
  color: #BFBFBF;
  font-family: oswald;
  margin: 2px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #9B0921;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.background {
  z-index: -1;
  position: absolute;
}

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 8fr;
      grid-template-columns: 1fr 4fr 8fr;
      grid-template-areas: "header-logo . header-nav" ". . ." "header-text . .";
  -ms-grid-rows: 55px 275px 270px;
      grid-template-rows: 55px 275px 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  margin-left: 20px;
}

.header-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-nav;
  -ms-grid-column-align: right;
      justify-self: right;
  font-size: 20px;
  font-weight: bold;
}

.header-nav__link {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header-nav__link:last-child {
  margin-right: 20px;
}

.header-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header-text;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 60px;
}

.section2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr 4fr;
      grid-template-columns: 5fr 1fr 4fr;
      grid-template-areas: "section2-picture . section2-text";
  -ms-grid-rows: 595px;
      grid-template-rows: 595px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2-picture {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section2-picture;
  margin-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section2-text {
  margin-right: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: section2-text;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr;
      grid-template-columns: 5fr;
      grid-template-areas: "section2-text-title" "." "section2-text-description" "section2-text-line" "section2-text-download" "section2-text-line2";
  -ms-grid-rows: 50px 30px 340px 10px 50px 10px;
      grid-template-rows: 50px 30px 340px 10px 50px 10px;
}

.section2-text-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section2-text-title;
  font-weight: bold;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section2-text-description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: section2-text-description;
}

.section2-text-download {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section2-text-download;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

.section2-text-line {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: section2-text-line;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section2-text-line2 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: section2-text-line2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section3 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
      grid-template-areas: "section3-title ." "section3-text section3-picture";
  -ms-grid-rows: 250px 350px;
      grid-template-rows: 250px 350px;
}

.section3-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section3-title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 35px;
}

.section3-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section3-text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 20px;
}

.section3-picture {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: section3-picture;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 20px;
  margin-bottom: 50px;
}

.container {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "First First Second Second Third Third" "Fourth Fifth Sixth Sixth Third Third" "Seventh Fifth Sixth Sixth Third Third";
  -ms-grid-columns: 300px 2fr 1fr 1fr 1fr 300px;
      grid-template-columns: 300px 2fr 1fr 1fr 1fr 300px;
  -ms-grid-rows: 275px 160px 160px;
      grid-template-rows: 275px 160px 160px;
}

.First {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: First;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 20px;
  margin-left: 20px;
}

.Second {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: Second;
}

.Third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: Third;
  margin-right: 480px;
}

.Fourth {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Fourth;
}

.Fifth {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: Fifth;
}

.Sixth {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: Sixth;
}

.Seventh {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Seventh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
}

.section5 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Title Empty Table" ". . ." "Picture Picture Picture";
  -ms-grid-columns: 2fr 1fr 3fr;
      grid-template-columns: 2fr 1fr 3fr;
  -ms-grid-rows: 250px 30px 260px;
      grid-template-rows: 250px 30px 260px;
}

.Title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Title;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 20px;
}

.Empty {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Empty;
}

.Table {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Table;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.Picture {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Picture;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

table.iksweb {
  text-decoration: none;
  width: 100%;
}

table.iksweb th {
  font-size: 22px;
  color: #ffffff;
  background-color: #9B0921;
  text-align: left;
  color: #BFBFBF;
}

table.iksweb td {
  font-size: 13px;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}

table.iksweb td, table.iksweb th {
  padding: 15px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid #9B0921;
}

.section6 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
      grid-template-areas: "Title Title Title empty picture" "button1 button2 button3 empty picture" "name name email empty picture" "message message message empty picture" "send send send empty picture";
  -ms-grid-columns: 190px 190px 280px 58px 1fr;
      grid-template-columns: 190px 190px 280px 58px 1fr;
  -ms-grid-rows: 103px 50px 76px 300px 70px;
      grid-template-rows: 103px 50px 76px 300px 70px;
}

.Title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Title;
}

.empty {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: empty;
}

.picture {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: picture;
}

.button1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: button1;
  text-decoration: none;
  color: white;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  text-align: center;
  border-radius: 30px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
}

.button2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button2;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  text-align: center;
  border-radius: 30px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
  border: 2px solid #ffffff;
  color: white;
}

.button3 {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: button3;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 100px;
  text-align: left;
  border-radius: 30px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
  border: 2px solid #ffffff;
  color: white;
  text-align: center;
}

.name {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.email {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: email;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.message {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: message;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.send {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: send;
  text-decoration: none;
  color: white;
  background-color: #9B0921;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.section7 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
      grid-template-areas: "picture empty title" "picture empty adress1" "picture empty adress2" "picture empty support";
  -ms-grid-columns: 715px 50px 435px;
      grid-template-columns: 715px 50px 435px;
  -ms-grid-rows: 130px 130px 200px 130px;
      grid-template-rows: 130px 130px 200px 130px;
}

.picture {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: picture;
}

.empty {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: empty;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  margin-top: 20px;
}

.adress1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: adress1;
}

.adress2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: adress2;
}

.support {
  margin-top: 50px;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: support;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
      grid-template-areas: "place1 place2 place3 place4";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  margin-top: 10px;
  font-size: 14px;
}

.place1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: place1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
}

.place2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: place2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.place3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: place3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.place4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: place4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  margin-right: 20px;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */